# Environment files
.env
.env.local

# OS files
.DS_Store

# IDE/editor
.vscode/
.idea/

# Node / frontend
node_modules/
dist/
build/

# PHP / Composer
vendor/
.phpunit.result.cache
coverage-report/

#CLAUDE
.claude/
CLAUDE.md
