<section class="issue-detail">
    <div class="container">

        <header class="issue-header">
            <h2>Dettaglio segnalazione</h2>
        </header>

        <div class="issue-content-wrapper">
            <div class="issue-description">
                <h3>Descrizione</h3>
                <p>##ISSUE_DESCRIPTION##</p>
            </div>

            <aside class="issue-info-card">
                <h3>Info segnalazione</h3>
                <ul>
                    <li>Titolo: ##ISSUE_TITLE##</li>
                    <li>Edificio: ##BUILDING_NAME##</li>
                    <li>Aula: ##ROOM_NAME##</li>
                    <li>Data apertura: ##OPEN_DATE##</li>
                    <li>Data chiusura: ##CLOSE_DATE##</li>
                    <li>Stato: ##STATUS##</li>
                    <li>Id del tecnico in carica: ##TECHNICIAN_ID##</li>
                    ##REPORTER_ID##
                </ul>
                ##DELETE_ISSUE_BUTTON##
                ##TAKE_ISSUE_BUTTON##
                ##CLOSE_ISSUE_BUTTON##
            </aside>
        </div>
    </div>
</section>