<section class="room-detail">
    <div class="container">

        <header class="room-header">
            <h2>##ROOM_NAME##</h2>
            ##ADD_TO_FAVORITES_BUTTON##
        </header>

        <div class="room-content-wrapper">

            <aside class="room-info-card">
                <h3>Info aula</h3>
                <ul>
                    <li>Edificio: ##BUILDING_NAME##</li>
                    <li>Indirizzo: ##BUILDING_ADDRESS##</li>
                </ul>
            </aside>

            <div class="table-responsive">
                <p id="sum-issues" class="visually-hidden">Elenco delle segnalazioni, tabella organizzata per colonne
                    con il titolo, l'aula, la data di apertura, lo stato attuale e il bottone per visualizzare i
                    dettagli.</p>

                <table class="data-table" aria-describedby="sum-issues">
                    <caption class="visually-hidden">Elenco segnalazioni</caption>
                    <thead>
                        <tr>
                            <th scope="col">Titolo</th>
                            <th scope="col">Data</th>
                            <th scope="col">Stato</th>
                            <th scope="col">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        ##ISSUES_LIST##
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>