<section class="admin-section">
    <div class="container">
        <h2>Gestione Utenti</h2>

        <div class="error-message">##FLASH_ERROR##</div>

        <div class="table-responsive">
            <p id="summary" class="visually-hidden">Elenco degli utenti registrati e relative azioni, tabella organizzata per colonne con il nome dell'utente, il ruolo nel sistema, che può essere tra admin, tecnico o studente, e il bottone che permette di eliminare il profilo della riga in cui è disposto.</p>
            <table class="data-table" aria-describedby="summary">
                <caption class="visually-hidden">Elenco utenti</caption>
                <thead>
                    <tr>
                        <th scope="col" abbr="utente">Nome Utente</th>
                        <th scope="col">Ruolo</th>
                        <th scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    ##USER_LIST_ITEMS##
                </tbody>
            </table>
        </div>
    </div>
</section>