<!doctype html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>##TITOLO_PAGINA##</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body class="auth-page">
  <main>
    ##CONTENUTO_PRINCIPALE##
  </main>
</body>

</html>